.div buttonHome{
    font-family: Rick_and_Morty;
    color: rgb(26, 235, 113);
    background-color: rgba(66, 192, 64, 0.623);
    border: 1px solid #000000;
    font-size: 30px;
    cursor: pointer;
    border-radius: 5px;
    /* text-align: center; */
    /* top: 10%;
    left: 10%;*/
    /* position:fixed; */
    
}

.div buttonAbout{
    font-family: Rick_and_Morty;
    color: rgb(26, 235, 113);
    background-color: rgba(66, 192, 64, 0.623);
    border: 1px solid #000000;
    font-size: 30px;
    cursor: pointer;
    border-radius: 5px;
    margin:4px;
}

.div buttonFav{
    font-family: Rick_and_Morty;
    color: rgb(26, 235, 113);
    background-color: rgba(66, 192, 64, 0.623);
    border: 1px solid #000000;
    font-size: 30px;
    cursor: pointer;
    border-radius: 5px;
    margin:4px;
}

.div buttonLogOut{
    font-family: Rick_and_Morty;
    color: rgb(26, 235, 113);
    background-color: rgba(66, 192, 64, 0.623);
    border: 1px solid #000000;
    font-size: 30px;
    cursor: pointer;
    border-radius: 5px;
    margin:4px;
}

.Link{
    text-decoration: none;
    color: rgb(26, 235, 113);
}
